/* --- Hero Section --- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Montserrat", sans-serif;
}

body {
	background-image: linear-gradient(
		to right bottom,
		#ff0cad,
		#ff417a,
		#ff8748,
		#ffc71e,
		#f9ff3e
	);
}

@property --button-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #6c48c5;
}

@property --button-color-hover {
	syntax: "<color>";
	inherits: false;
	initial-value: #4b328b;
}

/* --- Container --- */
.container {
	display: flex;
	gap: 3.2rem;
	height: 100vh;
	margin: 0 auto;
	padding: 4.8rem 0;
}

.container--one-obj {
	align-items: center;
	justify-content: center;
	max-width: 60rem;
}

/* Якщо є container--one-obj тоді стукає до карточок всіх які не є останньою дитиною  */
.container--one-obj .card:not(:last-child) {
	display: none;
}

.container--many-obj {
	justify-content: center;
	flex-wrap: wrap;
	max-width: 95vw;

	transition: all 0.3s;
}

/* --- Card --- */
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 50%;
	flex-grow: 1;
	background-color: rgb(249, 249, 249);
	border-radius: 15px;
	box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
	padding: 3.6rem;
	text-align: left;

	min-width: 41rem;
}

.user-profile {
	padding: 5.6rem 3.6rem;
	min-width: 60rem;
}

.user-profile h1 {
	font-size: 5.6rem;
}

.money-counter {
	min-width: 40rem;
	text-align: center;
}

.card_wrapper {
	width: 100%;
}

/* --- Typography --- */
.primary-text {
	font-size: 3.2rem;
	font-weight: 600;
	color: #1a1a1a;
}

.secondary-text {
	font-size: 2.4rem;
	font-weight: 300;
	color: #525252;
}

.paragraph {
	font-size: 1.6rem;
	font-weight: 300;
	color: #525252;
}

.counter {
	font-size: 2.4rem;
	font-weight: 300;
	color: #4f4f4f;
}

.profile-list {
	font-size: 1.8rem;
	font-weight: 400;
	column-count: 2;
	list-style-type: none;
}

/* --- Form Fields --- */
.input-field,
.select-field {
	width: 100%;
	height: 4.8rem;
	font-family: "Montserrat";
	font-size: 1.6rem;
	padding: 0 1.6rem;
	background-color: transparent;
	border: 1px solid #cecece;
	border-radius: 10px;
}

.input-field:hover,
.select-field:hover {
	border: 1px solid var(--button-color);
}

.input-field:focus,
.select-field:focus {
	outline: none;
	border: 1.5px solid var(--button-color-hover);
}

.btn {
	width: 100%;
	height: 4.8rem;
	cursor: pointer;
	color: #fff;
	background-color: var(--button-color);
	border: none;
	border-radius: 10px;
	transition: 0.3s;
}

.btn:hover {
	background-color: var(--button-color-hover);
}

/* --- Count Money --- */
.count-money {
	font-size: 7.2rem;
	font-weight: 500;
	color: #1a1a1a;
}

/* --- Margin and Flex --- */
.margin--sm {
	margin-bottom: 1.2rem;
}

.margin--md {
	margin-bottom: 2.4rem;
}

.margin--big {
	margin-bottom: 4.8rem;
}

.margin--fix {
	margin-bottom: 6.5rem;
}
