.button-wrapper {
	text-align: center;
}

.button-solid {
	all: unset;

	padding: 1.2rem 2.4rem;
	background-color: var(--black);

	border-radius: 10px;

	font-size: 1.6rem;
	font-weight: 400;
	color: #fff;

	cursor: pointer;
}

.button-solid:hover,
.button-solid:active {
	background-color: var(--blacky);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
