.card-wrapper {
	gap: 9.6rem;

	grid-template-rows: auto;
}

.card {
	padding: 2.4rem 1.6rem;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

	text-align: center;

	transition: all 0.3s;
}

.card_img {
	height: 25.6rem;
	width: auto;
}

.card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	transform: translateY(-5%);
}
